h1 {
  margin-bottom: 25px;
}

div.options button {
margin-left: 5px;;
margin-bottom: 15px;
height: 34px;
background: #7159c1;
width: 90px;
font-weight: bold;
font-size: 14px;
border: 0;
border-radius: 16px;
color: #FFF
}