@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #7159c1;
  -webkit-font-smoothing: antialiased !important;
}

a {
  text-decoration: none;
  color: #FFF;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

button {
  cursor: pointer;
  
}

.container {
  margin: 80px auto 0;
  max-width: 1000px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center; 
}

.container img {
  width: 150px;
  height: 150px;
}

.content {
  width: 100%;
  background: #FFF;
  margin-top: 50px;
  border-radius: 4px;
  padding: 30px;
}

.content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content form input {
  margin-bottom: 20px;
  border: 1px solid #DDD;
  border-radius: 2px;
  height: 45px;
  width: 50%;
  padding: 0 15px;
  font-size: 16px;
}



